
* {
    box-sizing: border-box;
    text-align: center;
   

}
.button-box-special {
    background: #383b3a;
}

button:focus {
    outline: none;
}

.wrapper {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.twelve {
    background: #fff;
    color: #383b3a;
    border: 1px solid #ccc;
    box-shadow: 0 3px #ccc;
    transition: transform 100ms;
    text-align: center;
  
}

.twelve:hover {
    transform: translateY(1px);
    box-shadow: 0 2px #ccc;
}

.twelve:active {
    transform: translateY(3px);
    box-shadow: 0 0 1px #ccc;
}

button {
    width: 100px;
    height: 10px;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    align-items: center;
    display: flex;


}

span{
    margin-bottom:10px;
}